h1{
    font-family: 'Righteous';
    font-style: normal;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #ffffff;
}
.tela1 img{
    margin-top: 150px;
    margin-bottom: 15px;
}
.tela1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    font-family: 'Recursive', sans-serif;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    color: #D70900;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 30px;
    
}
button:hover{
    background-color: #131111; 
    transition: 0.9s;
    opacity: 0.9;
}